<%+header%>
<div class="cbi-map">
    <iframe id="neko" style="width: 100%; min-height: 95vh; border: none; border-radius: 5px; resize: vertical;"></iframe>
</div>
<script type="text/javascript">
    fetch('/nekoclash/lib/log.php?data=url_dash')
        .then(response => response.json())
        .then(data => {
            document.getElementById("neko").src = data.meta;
        })
        .catch(error => {
            console.error('Error fetching URL data:', error);
        });
</script>
<%+footer%>
                                                                                                                                                                                                                                                         